html {
  font-size: 16px;
  color: #ffffff;
}

/*navigatiom*/
.navbar-default {
  background-color: #000000;
  height: 3.875rem;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover {
    background-color: black;
    color: #f5a623;
}

nav img  {
  padding-left: 3.6875rem;
  height: 50px;
}

nav ul {
  font-family: "Open Sans", serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  padding-right: 3.4375rem;
}

/*@media only screen and (max-width: 760px) {
  nav .desktop {
    display: none;
  }
}

@media only screen and (min-width: 760px) {
  nav .mobile {
    display: none;
  }
}*/

/*jumbotron*/
.dancers {
  text-align: center;
  background-image: url("../pyt_dance_studio_resources/dancers-photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 9.4375rem 0 3.125rem;
  font-family: Roboto;
  color: #ffffff;
  margin-bottom: 0;
}

.dancers h1 {
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 2.6875rem;
}

.dancers p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 5rem;
  width: 45rem;
  margin: auto;
}

.btn-primary {
  border-radius: 2px;
  background-color: #f5a623;
  font-family: Open-Sans, serif;
  font-size: 1.375;
  font-weight: bold;
}
/*main*/
.photo-container {
  height: 31.25rem;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}

/*graffiti-photo*/
.graffiti-photo {
  background-image: url("../pyt_dance_studio_resources/graffiti-photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.graffiti-photo .content {
  background-color: rgba(120, 73, 225, 0.9);
}

.fire-photo .content {
  background-color: rgba(173, 74, 226, 0.9);
}

.jump-photo .content {
  background-color: rgba(226, 74, 226, 0.9);
}
.content {
  width: 25rem;
  height: 20rem;
  color: white;
  color: white;
  padding: 5rem 0 auto 3rem;
}

.content h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 1.25rem;
}

.content p {
  font-size: 1.125rem;
  line-height: 1.4;
  padding-bottom: 1.25rem;
}

.content h4 {
  font-weight: bold;
}

/*fire-photo*/
.fire-photo {
  background-image: url("../pyt_dance_studio_resources/fire-photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*jump-photo*/
.jump-photo {
  background-image: url("../pyt_dance_studio_resources/jump-photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.map-photo .content {
  background-color: rgba(120, 73, 225, 0.9);
}

/*footer*/
footer {
  background-image: url("../pyt_dance_studio_resources/party-photo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.footer-nav {
  height: 3.125rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(120,73,227,0.4);
  justify-content: space-around;
}
footer .icon {
width: 9rem;
}

.baseline {
  text-align: center;
  height: 15rem;
  padding-top: 5rem;
  font-size: .875rem;
  letter-spacing: 0.7px;
  line-height: 1.5;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }
  .footer-nav {
    height: 3.125rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(120,73,227,0.4);
    justify-content: space-around;
  }
}

@media only screen and (min-width: 760px) {
  .mobile {
    display: none;
  }
}

/*about*/
.about {
  background-color: #f2f2f2;
  border-bottom: 10px solid #794ae2;
  display: flex;
}

.about .container-image {
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.about .content {
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.about h1 {
  font-size: 3.125rem;
  font-weight: bold;
  color: #794ae2;
}
.about p {
  color: #666666;
}

/*main*/
.main h1 {
  color: #794ae2;
  font-size: 2.25rem;
  font-weight: bold;
}

.main p {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

/*map section*/
.map-photo {
background-image: url("../pyt_dance_studio_resources/map.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 31.25rem;
display: flex;
justify-content: flex-end;
align-items:flex-end;
}

/*classes schedule*/
.image-content h1 {
  color: rgba(174, 75, 227, 0.9);
  padding-top: 9rem;
}

.content-jum {
  text-align: center;;
}

.class-schedule {
  padding: 5.3125rem 1.125rem 2.4rem 1.125rem;
}

.class-schedule h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: rgba(174, 75, 227, 0.9);
}

.class-schedule h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.class-schedule h4 {
  font-size: 1rem;
  line-height: 1.5;
  color: #000000;
}

.class-schedule p {
  font-size: .875rem;
  line-height: 1.7;
  padding-bottom: 3.75rem;
}

.faculties {
  text-align: center;
  padding: 5.625rem 7.5rem 11.25rem 7.5rem;
}

.faculties img {
  width: 16.875rem;
  padding-bottom: 1.25rem;
}

.faculties h2 {
  font-size: 1.875rem;
  font-weight: bold;
  color: #8a54ff;
  padding-bottom: .625rem;
}

.faculties h3 {
  padding-bottom: .625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.faculties p {
  line-height: 1.5;
  font-size: 1.125rem;
  padding-bottom: 6.25rem;
}
